<div class="container">

  <div class="header">
    <img alt="banner-img" src="../assets/images/aditya-chinchure.jpg">
  </div>

  <div class="content">

    <div class="events">
      <!-- List -->
      <div *ngIf="eventList">
        <ul style="list-style-type:none;">
          <div *ngFor="let event of eventList">
            <event [event]="event"></event>
          </div>
        </ul>
      </div>
    </div>

    <div class="info">
      <h2>Aanbevolen</h2>
    </div>

  </div>

  <div class="side">
    <a>Advertentie</a>
  </div>

</div>
