.container {
  display: grid;
  grid-template-columns: 1fr 20% 5%;
  grid-template-rows: 40% auto;
  grid-gap: 0px;
  grid-template-areas:
  "header header header"
  "content side .";
}
.header {
  grid-area: header;
  position: relative;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
  background-color: #212121;
}
.image {
  position: relative;
  display: block;
  grid-area: image;
  overflow: hidden;
  background-position: center;
}
.profile {
  display: flex;
  /*background-color: #123097;*/
  width: 700px;
  height: 250px;
  overflow: hidden;
  margin-left: 80px;
}
.profile div {
  margin-left: 0px;
  position: relative;
}
.profile-img {
  top: 50px;
  left: 0px;
  width: 350px;
  overflow: hidden;
}
.profile-img img{
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
}
.profile-text {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.profile-text ul {
  list-style-type: none;
  padding-inline-start: 20px;
}
#artist-name {
  color: #FFF;
}
#tour-name {
  color: #FFF;
}

.content {
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  grid-template-areas:
  "events"
  "info";
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 3px;
  border-radius: 4px;
}
.events {
  display: block;
  grid-area: events;
  margin-bottom: 80px;
}
#ul-events {
  padding-inline-start: 0px;
  padding-left: 70px;
  padding-right: 70px;
}
.info {
  display: block;
  grid-area: info;
  overflow: hidden;
}
.side {
  display: block;
  grid-area: side;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 8px 0px;
  border-radius: 4px;
  background-color: #FFF;
}
