.container {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 30vh auto;
  grid-gap: 0px;
  grid-template-areas:
  "header header"
  "content side";
  height: 100vh;
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: 20px 1fr 2fr;
  grid-gap: 12px;
  grid-template-areas:
  ". image text";
  grid-area: header;
  overflow: hidden;
}
.image{
  position: relative;
  display: block;
  grid-area: image;
  overflow: hidden;
  background-position: center;
}
.header-text{
  display: grid;
  grid-template-rows: 1fr 1fr 3fr;
  grid-gap: 10px;
  grid-template-areas:
  "."
  "artistName-text"
  "tourName-text";
  grid-area: text;
  overflow: hidden;
}

.artistName-text{
  display: block;
  grid-area: artistName-text;
  font-size: 36px;
  font-weight: bold;
}

.tourName-text{
  display: block;
  grid-area: tourName-text;
  font-size: 24px;
}
.header img{
  position: absolute;
  bottom: 25px;
  left: 0px;
  width: 100%;
}
.content {
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0;
  grid-template-areas:
  "events"
  "info";
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 3px;
  border-radius: 4px;
}

.events{
  display: block;
  grid-template-rows: auto;
}
.info {
  display: block;
  grid-area: info;
  overflow: hidden;
}
.side {
  display: block;
  grid-area: side;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 8px 0px;
  border-radius: 4px;
}
