.container {
  display: grid;
  grid-template-columns: 1fr 20%;
  grid-template-rows: 30vh auto;
  grid-gap: 0px;
  grid-template-areas:
  "header header"
  "content side";
}
.header {
  position: relative;
  display: block;
  grid-area: header;
  overflow: hidden;
}
.content {
  display: grid;
  grid-area: content;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  grid-template-areas:
  "events"
  "info";
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 10px 3px;
  border-radius: 4px;
}
.events {
  display: block;
  grid-area: events;
}
.info {
  display: block;
  grid-area: info;
  overflow: hidden;
}
.side {
  display: block;
  grid-area: side;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 8px 0px;
  border-radius: 4px;
}
