<div class="container">

  <div class="header">

    <div class="profile">
      <div class="profile-img">
        <img alt="profile-img" src="../assets/images/attraction1.jpg">
      </div>
      <div class="profile-text">
        <ul>
          <h2 id="artist-name">Jo Hoode</h2>
          <h3 id="tour-name">13TH HOUR TOUR</h3>
        </ul>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="events">
      <!-- List -->
      <div *ngIf="eventList">
        <ul id="ul-events" style="list-style-type:none;">
          <div *ngFor="let event of eventList">
            <event [event]="event"></event>
          </div>
        </ul>
      </div>
    </div>

    <div class="info">
    </div>

  </div>

  <div class="side">
    <a>Advertentie</a>
  </div>

</div>
