<div class="container">

  <div class="header">
    <div class="image">
      <img alt="banner-img" src="../assets/images/attraction1.jpg">
    </div>
    <div class="header-text">
      <div class="artistName-text">
        Jo Hoode
      </div>
      <div class="tourName-text">
        13TH HOUR TOUR
      </div>
    </div>
  </div>

  <div class="content">

    <div class="events">
      <!-- List -->
      <div *ngIf="eventList">
        <ul style="list-style-type:none;">
          <div *ngFor="let event of eventList">
            <event [event]="event"></event>
          </div>
        </ul>
      </div>
    </div>

    <div class="info">
      <h2>Aanbevolen</h2>
    </div>

  </div>

  <div class="side">
    <a>Advertentie</a>
    <img alt="ad" src="../assets/woonhuis.jpg">
  </div>

</div>
