<div class="app-container">
  <!-- nav -->
  <div class="topnav">
    <ul class="nav">
      <a href="" class="nav-icon"></a>
      <a class="nav-b" routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
      <a class="nav-b" routerLinkActive="active" routerLink="/login">Login</a>
      <a class="nav-b" routerLinkActive="active" routerLink="/register">Register</a>
      <a class="nav-b" routerLinkActive="active" routerLink="/organisers">Organisers</a>
      <a class="nav-b" routerLinkActive="active" routerLink="/visitors">Visitors</a>
    </ul>
  </div>
  <!-- main content container -->
  <div class="page-content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- footer -->
  <div class="footer">
    <div class="KarteMeister">
      KarteMeister<br>Für die geilste Party
    </div>
    <div class="Young-Capital">
      <img alt="YC logo" src="../assets/images/YC Next logo.jpg">
      <br><br>Developed in association with Young Capital NEXT.
    </div>
    <div class="footer-links">
      More information
      <ul>
        <li> Disclaimer </li>
        <li> Vacanties </li>
        <li> Affiliations </li>
        <li> Help </li>
        <li> About KarteMeister </li>
      </ul>
    </div>
  </div>
</div>
