<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/login">Login</a>
        <a class="nav-item nav-link" routerLink="/register">Register</a>
        <a class="nav-item nav-link" routerLink="/organisers">Organisers</a>
    </div>
</nav> -->

<div class="topnav">
  <a class="active" routerLink="/">Home</a>
  <a routerLink="/login">Login</a>
  <a routerLink="/register">Register</a>
</div>


<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
