<div class="app-container">
  <!-- nav -->
  <div class="topnav">
    <ul class="nav">
    <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLinkActive="active" routerLink="/login">Login</a>
    <a routerLinkActive="active" routerLink="/register">Register</a>
    <a class="nav-item nav-link" routerLink="/organisers">Organisers</a>
    <a class="nav-item nav-link" routerLink="/visitors">Visitors</a>
    </ul>
  </div>
  <!-- main content container -->
  <div class="page-content">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- footer -->
  <div class="footer"></div>
</div>
