body {
  background: #ededed;
}
.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto auto;
  grid-gap: 0px;
  grid-template-areas:
  "nav"
  "page-content"
  "footer";
}
.page-content {
  grid-area: page-content;
}
.footer {
  grid-area: footer;
}
.topnav {
  grid-area: nav;
  background-color: #000000;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 50px;
  width: 100vw;
}
.topnav a {
  float: left;
  background-color: #2E2820;
  color: #FFB655;
  border: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover{
  background-color: #FFE0B6;
}
.topnav a.active{
  background-color: #FF9200;
  color: white;
}
.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.nav-icon {
  overflow: hidden;
  height: 50px;
  width: 180px;
  background-image: url("../assets/km-logo.jpg");
}
