/* You can add global styles to this file, and also import other style files */
body {
  background: #ededed;
  margin: 0px 0px 0px 0px;
  font-family: 'Averta', helvetica, arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
}
