/* You can add global styles to this file, and also import other style files */
head{
  background-color: red;
}

h1{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
}

h2 {
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 150%;
}

h3 {
  color: #607D8B;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

body{
  ;
}

body, input[text], button{
  color: #333;
  font-family: Helvetica;
}

label{
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 6em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}


button {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.topnav {
  background-color: #FFF;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;

}

.topnav a {
  float: left;
  background-color: #ddd;
  color: #607D8B;
  border: none;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover{
  background-color: #E9E9E9;
}

.topnav a.active{
  background-color: #407D8B;
  color: white;
}
