<div class="container">

<!-- Banner -->
  <div class="banner">
    <h1>Dit is een banner</h1>
    <!-- set image as background for banner component -->
    <img alt="banner-img" src="../assets/images/aditya-chinchure.jpg">
  </div>

  <!-- Home page content -->
  <div class="main-content">

    <!-- Hoe maak ik hier een 2x2 overzicht van? -->
    <div *ngIf="attrList">
      <ul style="list-style-type:none;">
        <div *ngFor="let attraction of attrList">
          <flash [attraction]="attraction"></flash>
        </div>
      </ul>
    </div>

  </div>

  <!-- Side content -->
  <div class="side">
    <a>Advertentie</a>
  </div>
</div>
