<h1>Home page</h1>
<div class="container">

  <div class="banner">
    <h1>Dit is een banner</h1>
    <!-- set image as background for banner component -->
    <img alt="banner-img" src="../assets/images/aditya-chinchure.jpg">
  </div>

  <div class="main-content">
    <div class="flash1">
      <flash></flash>
    </div>
    <div class="flash1">
      <flash></flash>
    </div>
    <div class="flash2">
      <flash></flash>
    </div>
    <div class="flash2">
      <flash></flash>
    </div>
    
    <div>
      <h2>Aanbevolen</h2>
    </div>
  </div>
</div>
