<div class="container">

<!-- Banner -->
  <div class="banner">
    <div class="banner-blurb">
      <div>
        <h1>Dit is een banner</h1>
        <a>Lekker feesten op 4 januarie!</a>
      </div>
      <div>
        <button class="button">Tickets</button>
      </div>
    </div>
  </div>

  <!-- Home page content -->
  <div class="main-content">

    <!-- List -->
    <div *ngIf="attrList">
      <ul class="wrapper" style="list-style-type:none;">
        <div class="wrapper-child" *ngFor="let attraction of attrList">
          <flash [attraction]="attraction"></flash>
        </div>
      </ul>
    </div>

  </div>

  <!-- Side content -->
  <div class="side">
    <a>Advertentie</a>
  </div>
</div>
