:host {
  display: inline;
  left: 0;
  max-width: auto;
  max-height: auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr 20% 3%;
  grid-template-rows: 30vw 1fr;
  grid-gap: 0px;
  grid-template-areas:
  "banner banner banner"
  "content side .";
  height: 100vh;
}
.banner {
  position: relative;
  display: block;
  grid-area: banner;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 60%, transparent 90%), url("src/assets/images/aditya-chinchure.jpg");
  background-size: cover;
  background-position: center;
}
.banner div {
  margin-left: 50px;
  position: relative;
  top: 100px;
  left: 20px;
}
.banner a {
  color: white;
}
.banner h1 {
  color: white;
}
.button {
  background-color: #FF9200;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.main-content{
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  grid-template-areas:
  "hl-content";
  margin: 36px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.wrapper-child {
  display: flex;
  flex: 1 1 auto;
  max-width: 50%;
}
.side {
  grid-area: side;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 8px 0px;
  height: 100%;
}
