:host {
  display: inline;
  left: 0;
  max-width: auto;
  max-height: auto;
}
.container {
  display: grid;
  grid-template-columns: 1fr 20% 3%;
  grid-template-rows: 30vw 1fr;
  grid-gap: 0px;
  grid-template-areas:
  "banner banner banner"
  "content side .";
  height: 100vh;
}
.banner {
  position: relative;
  display: block;
  grid-area: banner;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 20px 0px
}
.banner img {
  position: absolute;
  top: -335px;
  left: 0px;
  width: 100%;
}
.main-content{
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
  grid-template-areas:
  "flash flash";
  margin: 36px;
}
.main-content div {
  max-width: 300px;
}
.side {
  grid-area: side;
  background: #FFF;
  box-shadow: rgba(0, 0, 0, 0.3) -4px 4px 8px 0px;
  height: 100%;
}
